<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skt.flashbase.gis.test">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".common.SplachActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".common.DetailInfoActivity" />
        <activity android:name=".common.ChartExample" />
        <activity android:name=".sol.SetActivity" />
        <activity android:name=".sol.DeviceLocation.LocationCamera" />
        <activity android:name=".sol.VariableLabelPlacement.VariableLabelPlacement" />
        <activity android:name=".sol.DataTimeLapse.DataTimeLapseEffect" />
        <activity android:name=".sol.DataTimeLapse.DataTimeLapse" />
        <activity android:name=".sol.CreateHotspots.CreateHotspots" />
        <activity android:name=".sol.CircleLayerClusters.CircleLayerClusters" />
        <activity android:name=".sol.AnimatedIconMovement.AnimatedIconMovement" />
        <activity android:name=".sol.BasicMap.BasicMap" />
        <activity android:name=".sol.SolHomeActivity" />
        <activity android:name=".jieun.DynamicallyBuildAMapView" />
        <activity android:name=".jieun.CustomCurrentLoc" />
        <activity android:name=".seungeun.BasicSymbolLayerActivity" />
        <activity android:name=".seungeun.LocationComponentCameraOptionsActivity" />
        <activity android:name=".seungeun.SymbolSwitchOnZoomActivity" />
        <activity android:name=".seungeun.InfoWindowSymbolLayerActivity" />
        <activity android:name=".seungeun.SymbolCollisionDetectionActivity" />
        <activity android:name=".seungeun.PulsingLayerOpacityColorActivity" />
        <activity android:name=".seungeun.LanguageSwitchActivity" />
        <activity android:name=".seungeun.main_seungeun" />
        <activity android:name=".jieun.JieunHomeActivity" />
        <activity android:name=".common.HomeActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>